{
  "Variables": {
    "DISCORD_CHANNEL_NAME": "testikannu",
    "DISCORD_GROUP_ID": "groupid",
    "DISCORD_KEY": "discordkey123",
    "EUROJACKPOT_PRIMARY_NUMBERS": "1,2,3,4,5",
    "EUROJACKPOT_SECONDARY_NUMBERS": "6,7",
    "PARAMETER_STORE_VARIABLE_NAME": "parameter_name"
  }
}

